---
import type { GetStaticPaths } from "astro";
import Title from "../../components/shared/Title.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = ( async () => {
    
    const resp = await fetch('http://localhost:3000/tools');
    const data = await resp.json();

    return data.map((result:any) => ({
        params: { name: result.model },
    }))
}) satisfies GetStaticPaths;

const {name} = Astro.params;
---

<MainLayout title={name}>

    <div class="flex">
        <Title>
            {name}
        </Title>
    </div>

</MainLayout>