---
import CardNav from "../CardNav.astro"


const links = [
    {href: '/', icon:'home'},
    {href:'/tools', icon:'product'},
    {href:'/vehicles', icon:'truck'},
    {href:'/clients', icon:'client'},
    {href:'/brands', icon:'brand'}
]
---

<nav>
    <div class="flex justify-center gap-3 py-2 flex-wrap">
        {
            links.map(({href, icon}) => (<CardNav href={href} icon={icon}/>))
        }
    </div>
</nav>