---
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/shared/Title.astro";

---

<MainLayout title="clientes">
    <Title>
        Clientes
    </Title>
</MainLayout>