---
import MainLayout from "../layouts/MainLayout.astro";
import Title from "../components/shared/Title.astro";
import CardItem from "../components/CardItem.astro";
---

<MainLayout title="inicio">
	<Title>
        Inicio
    </Title>
</MainLayout>