---
import MainLayout from "../../layouts/MainLayout.astro";
import Title from "../../components/shared/Title.astro";
import CardItem from "../../components/CardItem.astro";
---

<MainLayout title="productos">
    <Title>
        Productos
    </Title>
    <div class="mt-2 flex gap-2 flex-wrap">
        <CardItem category="motosierra" brand="oleo mac" model="gsh-40"/>
        <CardItem category="motosierra" brand="oleo mac" model="gsh-40"/>
        <CardItem category="motosierra" brand="oleo mac" model="gsh-40"/>
    </div>
</MainLayout>